# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode
.vscode/

# binary files
# Ignore all
code/*

# Unignore all with extensions
code/!*.*

# Unignore all dirs
code/!*/

## Core latex/pdflatex auxiliary files:
report/*.aux
report/*.lof
report/*.log
report/*.lot
report/*.fls
report/*.out
report/*.toc
report/*.fmt
report/*.fot
report/*.cb
report/*.cb2
report/.*.lb

## Intermediate documents:
report/*.dvi
report/*.xdv
report/*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
report/*.bbl
report/*.bcf
report/*.blg
report/*-blx.aux
report/*-blx.bib
report/*.run.xml

## Build tool auxiliary files:
report/*.fdb_latexmk
report/*.synctex
report/*.synctex(busy)
report/*.synctex.gz
report/*.synctex.gz(busy)
report/*.pdfsync

## Build tool directories for auxiliary files
# latexrun
report/latex.out/

## Auxiliary and intermediate files from other packages:
# algorithms
report/*.alg
report/*.loa

# achemso
report/acs-*.bib

# amsthm
report/*.thm

# beamer
report/*.nav
report/*.pre
report/*.snm
report/*.vrb

# changes
report/*.soc

# comment
report/*.cut

# cprotect
report/*.cpt

# elsarticle (documentclass of Elsevier journals)
report/*.spl

# endnotes
report/*.ent

# fixme
report/*.lox

# feynmf/feynmp
report/*.mf
report/*.mp
report/*.t[1-9]
report/*.t[1-9][0-9]
report/*.tfm

#(r)(e)ledmac/(r)(e)ledpar
report/*.end
report/*.?end
report/*.[1-9]
report/*.[1-9][0-9]
report/*.[1-9][0-9][0-9]
report/*.[1-9]R
report/*.[1-9][0-9]R
report/*.[1-9][0-9][0-9]R
report/*.eledsec[1-9]
report/*.eledsec[1-9]R
report/*.eledsec[1-9][0-9]
report/*.eledsec[1-9][0-9]R
report/*.eledsec[1-9][0-9][0-9]
report/*.eledsec[1-9][0-9][0-9]R

# glossaries
report/*.acn
report/*.acr
report/*.glg
report/*.glo
report/*.gls
report/*.glsdefs
report/*.lzo
report/*.lzs
report/*.slg
report/*.slo
report/*.sls

# uncomment this for glossaries-extra (will ignore makeindex's style files!)
# *.ist

# gnuplot
report/*.gnuplot
report/*.table

# gnuplottex
report/*-gnuplottex-*

# gregoriotex
report/*.gaux
report/*.glog
report/*.gtex

# htlatex
report/*.4ct
report/*.4tc
report/*.idv
report/*.lg
report/*.trc
report/*.xref

# hyperref
report/*.brf

# knitr
report/*-concordance.tex
# TODO Uncomment the next line if you use knitr and want to ignore its generated tikz files
# *.tikz
report/*-tikzDictionary

# listings
report/*.lol

# luatexja-ruby
report/*.ltjruby

# makeidx
report/*.idx
report/*.ilg
report/*.ind

# minitoc
report/*.maf
report/*.mlf
report/*.mlt
report/*.mtc[0-9]*
report/*.slf[0-9]*
report/*.slt[0-9]*
report/*.stc[0-9]*

# minted
report/_minted*
report/*.pyg

# morewrites
report/*.mw

# newpax
report/*.newpax

# nomencl
report/*.nlg
report/*.nlo
report/*.nls

# pax
report/*.pax

# pdfpcnotes
report/*.pdfpc

# sagetex
report/*.sagetex.sage
report/*.sagetex.py
report/*.sagetex.scmd

# scrwfile
report/*.wrt

# svg
report/svg-inkscape/

# sympy
report/*.sout
report/*.sympy
report/sympy-plots-for-*.tex/

# pdfcomment
report/*.upa
report/*.upb

# pythontex
report/*.pytxcode
report/pythontex-files-*/

# tcolorbox
report/*.listing

# thmtools
report/*.loe

# TikZ & PGF
report/*.dpth
report/*.md5
report/*.auxlock

# titletoc
report/*.ptc

# todonotes
report/*.tdo

# vhistory
report/*.hst
report/*.ver

# easy-todo
report/*.lod

# xcolor
report/*.xcp

# xmpincl
report/*.xmpi

# xindy
report/*.xdy

# xypic precompiled matrices and outlines
report/*.xyc
report/*.xyd

# endfloat
report/*.ttt
report/*.fff

# Latexian
report/TSWLatexianTemp*

## Editors:
# WinEdt
report/*.bak
report/*.sav

# Texpad
report/.texpadtmp

# LyX
report/*.lyx~

# Kile
report/*.backup

# gummi
report/.*.swp

# KBibTeX
report/*~[0-9]*

# TeXnicCenter
report/*.tps

# auto folder when using emacs and auctex
report/./auto/*
report/*.el

# expex forward references with \gathertags
report/*-tags.tex

# standalone packages
report/*.sta

# Makeindex log files
report/*.lpz

# xwatermark package
report/*.xwm

# REVTeX puts footnotes in the bibliography by default, unless the nofootinbib
# option is specified. Footnotes are the stored in a file with suffix Notes.bib.
# Uncomment the next line to have this generated file ignored.
#*Notes.bib
